<ul>
  {{#each users}}{{!-- html hidratado para cada usuario que reciba va a correr esto  --}}
    <li>

      <span>{{this.first_name}}</span>
      <span>{{this.first_name}}</span>
      <span>{{this.email}}</span>
    </li>

  {{/each}}
</ul>