<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>{{!-- recibe una var u obj de <div class="js"></div> --}}
  </head>
  <body>
    {{{body}}}{{!--recibe un elemento html  --}}
  </body>
</html>